@import "../../style/_variables.scss";

.admin-grop-log {
  display: flex;
  flex-direction: column;
  color: $main-dark-color;
  margin: 30px 0;
  &__title {
    text-align: left;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    .retaking-mode-off {
      width: 100%;
      .retaking-mode-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
          background-color: $main-white-color;
          color: $main-red-opasity-color;
          padding: 10px;
          border-radius: 10px;
          transition: 0.5s;
          font-style: italic;
        }
        img {
          margin: 5px;
          width: 30px;
          height: 30px;
        }
      }
      span:hover, img:hover{
        color: $main-red-color;
        cursor: pointer;
      }
      span:hover {
        box-shadow: 1px 1px 15px $main-dark-color;
      }
    }

    .retaking-mode-on {
      width: 100%;
      .retaking-mode-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
          background-color: $main-white-color;
          color: $main-blue-light-opasity-color;
          padding: 10px;
          border-radius: 10px;
          transition: 0.5s;
          font-style: italic;
        }
        img {
          margin: 5px;
          width: 30px;
          height: 30px;
        }
      }
      span:hover, img:hover{
        color: $main-blue-color;
        cursor: pointer;
      }
      span:hover {
        box-shadow: 1px 1px 15px $main-dark-color;
      }
    }
  }

  &__item {
    margin: 30px 0;
    table {
      border-collapse: collapse;
      font-size: $smoll-text-font-size;
      caption {
        margin: 10px 0;
        color: $main-white-color;
        font-size: $text-font-size;
        span {
          color: $main-dark-color;
        }
      }
      thead {
        background-color: $main-white-color;
        font-weight: bold;
      }
      tbody {
        color: $main-white-color;
      }
      td, th {
        padding: 10px;
      }
    }
    table, th, td {
      border: 1px solid $main-dark-color;
      text-align: center;

    }
  }

  &__table {

  }

  .retaking {
    color: $main-orange-opasity-color;
    background-color: $main-dark-color;
    transition: 0.5s;
    outline: 1px solid $main-orange-opasity-color;
    &:hover {
      color: $main-orange-color;
      cursor: pointer;
      box-shadow: 1px 1px 15px $main-orange-color;
    }
  }
}

.retaking-confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    span {
      color: $main-red-color;
    }
  }

  .confirm-buttons {
    display: flex;
    justify-content: center;
    button {
      margin: 10px;
    }
  }
}
