//colors
$main-green-color: #28a745;
$main-green-opasity-color: rgba(#28a745, 0.5);
$main-blue-light-color: #17a2b8;
$main-blue-light-opasity-color: rgba(#17a2b8, 0.73);
$main-blue-color: #007bff;
$main-white-color: #fff;
$main-grey-color: #6c757d;
$main-grey-opasity-color: rgba(#6c757d, 0.5);
$main-red-color: #dc3545;
$main-red-opasity-color: rgba(#dc3545, 0.5);
$main-dark-color: #343a40;
$main-orange-color: #ffc107;
$main-orange-opasity-color: rgba(#ffc107, 0.5);

//font-size
$title_1-font-size: 35px;
$title_2-font-size: 30px;
$title_3-font-size: 25px;
$text-font-size: 20px;
$smoll-text-font-size: 16px;
$little-text-font-size: 14px;

$title_1-font-size-m: 25px;
$title_2-font-size-m: 20px;
$title_3-font-size-m: 18px;
$text-font-size-m: 16px;



//font-family
$title-bold: 'Ubuntu-Bold';
$text-regular: 'Ubuntu-Regular';
